@using Client.DTOs
@model IEnumerable<ReservationListDTO>


@if (Model != null)
{
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Traveler.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Traveler.DocumentId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Travel.Origin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Travel.Destination)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody class=".table-hover">
		@Html.Hidden("item-to-delete", "", new {@id = "item-to-delete"})
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Traveler.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Traveler.DocumentId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Travel.Origin)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Travel.Destination)
				</td>
				<td>
					<a class="btn btn-primary a-btn-slide-text btn-icon" asp-action="Edit" asp-route-id="@item.Id">
						<i class="fa fa-edit" aria-hidden="true"></i>
					</a>
					<a class="btn btn-info a-btn-slide-text btn-icon" asp-action="Details" asp-route-id="@item.Id">
						<i class="fa fa-eye" aria-hidden="true"></i>
					</a>
					<a class="btn btn-danger a-btn-slide-text btn-icon deleteReservationItem" id="deleteReservationBtn" data-target="#deleteReservationModal" data-toggle="modal" data-id="@item.Id" data-path="@Url.Action("Delete", "Reservation", new { id = @item.Id })">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
}