@model Client.Models.NewReservationModel

@{
	ViewData["Title"] = "Crear Reservasión";
}

<h2>Reservación</h2>

<h4>Nuevo</h4>
<hr />
<div class="row justify-content-center">
	<div class="col-md-4">
		<form id="CreateReservationForm" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="TravelId" class="control-label"></label>
				<!--<input asp-for="TravelId" class="form-control" />-->
				@Html.DropDownListFor(c => c.TravelId, (IEnumerable<SelectListItem>)ViewBag.ListTravels, "Seleccione Viaje", new { @class = "form-control" })
				<span asp-validation-for="TravelId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="TravelerId" class="control-lable"></label>
				<!--<input asp-for="TravelerId" class="form-control" />-->
				@Html.DropDownListFor(c => c.TravelerId, (IEnumerable<SelectListItem>)ViewBag.ListTravelers, "Seleccione Pasajero", new { @class = "form-control" })
				<span asp-validation-for="TravelerId" class="text-danger"></span>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-9">
					<div id="ErrorAlert" class="alert alert-danger" style="display:none" role="alert">
						Error en los datos enviados!
					</div>
					<div id="SuccessAlert" class="alert alert-success" style="display:none" role="alert">
						Datos guardados correctamente!
					</div>
				</div>
			</div>

			<div class="row justify-content-center">

				<div class="col-md-6">
					<div class="form-group float-right">
						<img id="AjaxLoader" alt="Enviando ..." style="display:none" src="~/img/loading.gif" />
						&nbsp;&nbsp;
						<button id="SubmitBtn" type="submit" class="btn btn-primary">
							Crear
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
	<a class="btn btn-default a-btn-slide-text" asp-action="Index">
		<i class="fas fa-arrow-left" aria-hidden="true"></i>
		<span><strong>Volver a Viajes</strong></span>
	</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script type="text/javascript">
		$('#TravelId').change(function () {
			var textValue = $('#TravelId option:selected').text();
			$('#Travel').val(textValue);
		});
		$('#TravelerId').change(function () {
			var textValue = $('#TravelerId option:selected').text();
			$('#Traveler').val(textValue);
		});

		$(function () {
			$("#CreateReservationForm").submit(function (e) {
				e.preventDefault();

				// We show the Ajax Loader
				$("#AjaxLoader").show("fast");

				// We disable the Submit button
				$("#SubmitBtn").prop("disabled", true);

				$.ajax({
					url: "@Url.Action("Create", "Reservation")", // Url
					data: {
						// Data / Parameters
						TravelId: $("#TravelId").val(),
						TravelerId: $("#TravelerId").val()
					},
					type: "post"  // HTTP method
				})
				// Execute if everything went well.
				.done(function (result) {
					if (result != null) {

						// We hide the Ajax Loader
						$("#AjaxLoader").hide("slow");

						// We enable the Submit button
						$("#SubmitBtn").prop("disabled", false);

						// We show a success message.
						$("#SuccessAlert").show("slow").delay(3000).hide("slow");
					}
				})
				// Execute if an error occurred.
				.fail(function (xhr, status, error) {
					// We show an error message.
					$("#ErrorAlert").show("slow").delay(3000).hide("slow");

					// We hide the Ajax Loader
					$("#AjaxLoader").hide("slow");

					// We enable the Submit button
					$("#SubmitBtn").prop("disabled", false);
				})
				// Always execute, whether it was successful or not.
				.always(function () {
					
				});
			});
		});
	</script>
}
