@using Client.DTOs
@model IEnumerable<TravelerDTO>


@if (Model != null)
{
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DocumentId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody class=".table-hover">
		@Html.Hidden("item-to-delete", "", new {@id = "item-to-delete"})
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DocumentId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					<a class="btn btn-primary a-btn-slide-text btn-icon" asp-action="Edit" asp-route-id="@item.Id">
						<i class="fa fa-edit" aria-hidden="true"></i>
					</a>
					<a class="btn btn-info a-btn-slide-text btn-icon" asp-action="Details" asp-route-id="@item.Id">
						<i class="fa fa-eye" aria-hidden="true"></i>
					</a>
					<a class="btn btn-info a-btn-slide-text btn-icon" asp-controller="Reservation" asp-action="Traveler" asp-route-id="@item.Id">
						<i class="fa fa-plane" aria-hidden="true"></i>
					</a>
					<a class="btn btn-danger a-btn-slide-text btn-icon deleteTravelerItem" id="deleteTravelerBtn" data-target="#deleteTravelerModal" data-toggle="modal" data-id="@item.Id" data-path="@Url.Action("Delete", "Traveler", new { id = @item.Id })">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
}