@model Client.DTOs.TravelerDTO

@{
	ViewData["Title"] = "Editar";
}

<h2>Viajeros</h2>

<h4>Editar</h4>
<hr />
<div class="row justify-content-center">
	<div class="col-md-4">
		<form id="EditTravelerForm" asp-action="Edit" >
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input id="TravelerId" type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input id="Name" asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DocumentId" class="control-label"></label>
				<input id="DocumentId" asp-for="DocumentId" class="form-control" />
				<span asp-validation-for="DocumentId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Address" class="control-label"></label>
				<input id="Address" asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label"></label>
				<input id="Phone" asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-9">
					<div id="ErrorAlert" class="alert alert-danger" style="display:none" role="alert">
						Error en los datos enviados!
					</div>
					<div id="SuccessAlert" class="alert alert-success" style="display:none" role="alert">
						Datos guardados correctamente!
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="form-group float-right">
						<img id="AjaxLoader" alt="Enviando ..." style="display:none" src="~/img/loading.gif" />
						&nbsp;&nbsp;
						<button id="SubmitBtn" type="submit" class="btn btn-primary">
							Guardar datos
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
	<a class="btn btn-default a-btn-slide-text" asp-action="Index">
		<i class="fas fa-arrow-left" aria-hidden="true"></i>
		<span><strong>Volver a Viajeros</strong></span>
	</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script type="text/javascript">

		$(function () {
			$("#EditTravelerForm").submit(function (e) {
				e.preventDefault();

				// We show the Ajax Loader
				$("#AjaxLoader").show("fast");

				// We disable the Submit button
				$("#SubmitBtn").prop("disabled", true);
				travelerId = $("#TravelerId").val();

				$.ajax({
					url: '@Url.Action("Edit", "Traveler", new { id = Model.Id })', // Url
					data: {
							// Datos / Parameters
							TravelerId: travelerId,
							Name: $("#Name").val(),
							DocumentId: $("#DocumentId").val(),
							Address: $("#Address").val(),
							Phone: $("#Phone").val()
					},
					type: "put"  // HTTP method
				})
				// Execute if everything went well.
				.done(function (result) {
					if (result != null) {

						// Update the HTML result
						$("#TravelerList").html(result);

						// A little special effect;)
						$("#TravelerList .row").first().hide();
						$("#TravelerList .row").first().slideToggle("fast");

						// We hide the Ajax Loader
						$("#AjaxLoader").hide("slow");

						// We enable the Submit button
						$("#SubmitBtn").prop("disabled", false);

						// We show a success message.
						$("#SuccessAlert").show("slow").delay(2000).hide("slow");
					}
				})
				// Execute if an error occurred.
				.fail(function (xhr, status, error) {
					// We show an error message.
					$("#ErrorAlert").show("slow").delay(2000).hide("slow");

					// We hide the Ajax Loader
					$("#AjaxLoader").hide("slow");

					// We enable the Submit button
					$("#SubmitBtn").prop("disabled", false);
				})
				// Always execute, whether it was successful or not.
				.always(function () {
					
				});
			});
		});
	</script>

} 