@using Client.DTOs
@model IEnumerable<TravelDTO>


@if (Model != null)
{
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Origin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Destination)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Seats)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody class=".table-hover">
		@Html.Hidden("item-to-delete", "", new {@id = "item-to-delete"})
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Origin)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Destination)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Seats)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					<a class="btn btn-primary a-btn-slide-text btn-icon" asp-action="Edit" asp-route-id="@item.Id">
						<i class="fa fa-edit" aria-hidden="true"></i>
					</a>
					<a class="btn btn-info a-btn-slide-text btn-icon" asp-action="Details" asp-route-id="@item.Id">
						<i class="fa fa-eye" aria-hidden="true"></i>
					</a>
					<a class="btn btn-info a-btn-slide-text btn-icon" asp-controller="Reservation" asp-action="Travel" asp-route-id="@item.Id">
						<i class="fa fa-users" aria-hidden="true"></i>
					</a>
					<a class="btn btn-danger a-btn-slide-text btn-icon deleteTravelItem" id="deleteTravelBtn" data-target="#deleteTravelModal" data-toggle="modal" data-id="@item.Id" data-path="@Url.Action("Delete", "Travel", new { id = @item.Id })">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
}