@model Client.Models.NewTravelModel

@{
	ViewData["Title"] = "Crear";
}

<h2>Viajes</h2>

<h4>Nuevo</h4>
<hr />
<div class="row justify-content-center">
	<div class="col-md-4">
		<form id="CreateTravelForm" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Origin" class="control-label"></label>
				<input asp-for="Origin" class="form-control" />
				<span asp-validation-for="Origin" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Destination" class="control-label"></label>
				<input asp-for="Destination" class="form-control" />
				<span asp-validation-for="Destination" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Seats" class="control-label"></label>
				<input asp-for="Seats" class="form-control" />
				<span asp-validation-for="Seats" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-9">
					<div id="ErrorAlert" class="alert alert-danger" style="display:none" role="alert">
						Error en los datos enviados!
					</div>
					<div id="SuccessAlert" class="alert alert-success" style="display:none" role="alert">
						Datos guardados correctamente!
					</div>
				</div>
			</div>

			<div class="row justify-content-center">

				<div class="col-md-6">
					<div class="form-group float-right">
						<img id="AjaxLoader" alt="Enviando ..." style="display:none" src="~/img/loading.gif" />
						&nbsp;&nbsp;
						<button id="SubmitBtn" type="submit" class="btn btn-primary">
							Crear
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
	<a class="btn btn-default a-btn-slide-text" asp-action="Index">
		<i class="fas fa-arrow-left" aria-hidden="true"></i>
		<span><strong>Volver a Viajes</strong></span>
	</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script type="text/javascript">

		$(function () {
			$("#CreateTravelForm").submit(function (e) {
				e.preventDefault();

				// We show the Ajax Loader
				$("#AjaxLoader").show("fast");

				// We disable the Submit button
				$("#SubmitBtn").prop("disabled", true);

				$.ajax({
					url: "@Url.Action("Create", "Travel")", // Url
					data: {
						// Data / Parameters
						Origin: $("#Origin").val(),
						Destination: $("#Destination").val(),
						Seats: $("#Seats").val(),
						Price: $("#Price").val()
					},
					type: "post"  // HTTP method
				})
				// Execute if everything went well.
				.done(function (result) {
					if (result != null) {

						// Clean the form
						$("#Origin").val("");
						$("#Destination").val("");
						$("#Seats").val("");
						$("#Price").val("");

						// We hide the Ajax Loader
						$("#AjaxLoader").hide("slow");

						// We enable the Submit button
						$("#SubmitBtn").prop("disabled", false);

						// We show a success message.
						$("#SuccessAlert").show("slow").delay(3000).hide("slow");
					}
				})
				// Execute if an error occurred.
				.fail(function (xhr, status, error) {
					// We show an error message.
					$("#ErrorAlert").show("slow").delay(3000).hide("slow");

					// We hide the Ajax Loader
					$("#AjaxLoader").hide("slow");

					// We enable the Submit button
					$("#SubmitBtn").prop("disabled", false);
				})
				// Always execute, whether it was successful or not.
				.always(function () {
					
				});
			});
		});
	</script>
}
