@model Client.DTOs.TravelDTO

@{
	ViewData["Title"] = "Detalles";
}

<h2>Viajes</h2>

<div>
	<h4>Detalles</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Origin)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Origin)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Destination)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Destination)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Seats)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Seats)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Price)
		</dd>
	</dl>
</div>
<div>
	<a class="btn btn-primary a-btn-slide-text" asp-action="Edit" asp-route-id="@Model.Id">
		<i class="fas fa-edit" aria-hidden="true"></i>
		<span><strong>Editar</strong></span>
	</a>
	<a class="btn btn-default a-btn-slide-text" asp-action="Index">
		<i class="fas fa-arrow-left" aria-hidden="true"></i>
		<span><strong>Volver a Viajes</strong></span>
	</a>
</div>
