@model IEnumerable<Client.DTOs.TravelDTO>

@{
	ViewData["Title"] = "Inicio";
}

<h2>Lista de Viajes</h2>

<p>
	<a class="btn btn-primary a-btn-slide-text" asp-action="Create">
		<i class="fa fa-plus" aria-hidden="true"></i>
		<span><strong>Agregar</strong></span>
	</a>
</p>


<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div id="ErrorAlert" class="alert alert-danger" style="display:none" role="alert">
				Error al eliminar Viaje!
			</div>
			<div id="SuccessAlert" class="alert alert-success" style="display:none" role="alert">
				Se ha eliminado Satisfactoriamente el registro!
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col">
			<div id="TravelList">
				<partial name="_TravelListPartial" model="Model" />
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteTravelModal" tabindex="-1" role="deleteTravelModal" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Confirmación de eliminación de Viaje</h4>
			</div>
			<div class="modal-body">
				¿Estás seguro de querer eliminar este viaje?
			</div>
			<div class="modal-footer">
				<button id="btnContinueDeleteTravel" type="button" class="btn btn-primary">Eliminar</button>
				<button data-dismiss="modal" type="button" class="btn btn-secondary">Cancelar</button>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script type="text/javascript">
		var path_to_delete;

		// Bind the event click to elements with class deleteItemTravel
		$(".deleteTravelItem").click(function(e) {
			// Get path url to call ajax
			path_to_delete = $(this).data('path');
		});

		$('#btnContinueDeleteTravel').click(function (e) {
			e.preventDefault();

			// Mostramos el Ajax Loader
			$("#AjaxLoader").show("fast");

			$.ajax({
				url: path_to_delete, // Url
				data: null, //no send data
				type: "delete"  // HTTP method
			})
			// It Executes if all went well
			.done(function (result) {
				if (result != null) {

					// Update the HTML result
					$("#TravelList").html(result);

					// A little special effect;)
					$("#TravelList .row").first().hide();
					$("#TravelList .row").first().slideToggle("fast");

					// We hide the Ajax Loader
					$("#AjaxLoader").hide("slow");

					// We show a success message.
					$("#SuccessAlert").show("slow").delay(3000).hide("slow");
				}
			})
			// Executes if an error occurred.
			.fail(function (xhr, status, error) {
				// We show an error message.
				$("#ErrorAlert").show("slow").delay(3000).hide("slow");

				// We hide the Ajax Loader
				$("#AjaxLoader").hide("slow");
			})
			// Always execute, successful or not.
			.always(function () {
				$('#deleteTravelModal').modal('hide');
			});
		});
	</script>

} 